services:
  load-test:
    container_name: load-test
    profiles:
      - load-test
    image: williamyeh/wrk
    #command: ["-t", "6", "-c", "96", "-d", "60s", "--latency", "http://ucar-app:8000/v1/incident/orm"]
    #command: ["-t", "6", "-c", "96", "-d", "60s", "--latency", "http://ucar-app:8000/v1/incident/raw_sql"]
    command: ["-t", "6", "-c", "96", "-d", "60s", "--latency", "http://ucar-app:8000/v1/incident/native"]
    #command: ["-t", "6", "-c", "96", "-d", "60s", "--latency", "http://ucar-app:8000/v1/incident/dummy"]
    #command: ["-t", "6", "-c", "96", "-d", "60s", "--latency", "http://ucar-app:8000/v1/incident/router-dummy"]
    #command: ["-t", "6", "-c", "96", "-d", "60s", "--latency", "http://ucar-app:8000/v1/incident/native/cache"]
    depends_on:
      ucar-app:
        condition: service_started
    network_mode: service:ucar-app

  ucar-app:
    container_name: ucar-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      DB_HOST: "ucar-db"
      DEBUG: "false"
    env_file:
      - .env
    depends_on:
      ucar-db:
        condition: service_healthy
    networks:
      - ucar_network
    restart: unless-stopped

  ucar-db:
    container_name: ucar-db
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./postgres_config/postgresql.conf:/etc/postgresql/postgresql.conf
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    env_file:
      - .env
    ports:
      - "${DB_PORT_EXTERNAL}:${DB_PORT_INTERNAL}"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $DB_USER -d $DB_NAME" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - ucar_network
    restart: unless-stopped

  pgbouncer:
    container_name: ucar-pgbouncer
    image: bitnami/pgbouncer:latest
    environment:
      # Настройки подключения к PostgreSQL
      POSTGRESQL_HOST: "ucar-db"
      POSTGRESQL_PORT_NUMBER: ${DB_PORT_INTERNAL}
      POSTGRESQL_USERNAME: ${DB_USER}
      POSTGRESQL_PASSWORD: ${DB_PASSWORD}
      PGBOUNCER_AUTH_TYPE: scram-sha-256
      PGBOUNCER_SERVER_IDLE_TIMEOUT: 60
      PGBOUNCER_SERVER_LIFETIME: 3600

      # Настройки pgbouncer
      PGBOUNCER_DATABASE: ${DB_NAME}
      PGBOUNCER_AUTH_USER: ${DB_USER}
      PGBOUNCER_AUTH_PASSWORD: ${DB_PASSWORD}
      PGBOUNCER_POOL_MODE: transaction
      PGBOUNCER_MAX_CLIENT_CONN: 1000    # макс клиентов к pgbouncer
      PGBOUNCER_MAX_DB_CONNECTIONS: 100
      PGBOUNCER_MIN_POOL_SIZE: 5
      PGBOUNCER_DEFAULT_POOL_SIZE: 25    # число одновременных транзакций, которые PostgreSQL может эффективно обрабатывать. = (1.5 – 2.5) × число ядер
      PGBOUNCER_RESERVE_POOL_SIZE: 5     # резерв при пике
      PGBOUNCER_IGNORE_STARTUP_PARAMETERS: extra_float_digits # управляет точностью вывода чисел с плавающей точкой.
      #чтобы избежать потери точности при сериализации → десериализации.
      #Библиотека asyncpg всегда отправляет extra_float_digits=3
    ports:
      - "6435:6432"
    depends_on:
      ucar-db:
        condition: service_healthy
    networks:
      - ucar_network

volumes:
  pg_data:
    driver: local

networks:
  ucar_network:
    driver: bridge
